practiceVagrant/.vagrant/bundler/global.sol
practiceVagrant/.vagrant/machines/default/virtualbox/action_provision
practiceVagrant/.vagrant/machines/default/virtualbox/action_set_name
practiceVagrant/.vagrant/machines/default/virtualbox/box_meta
practiceVagrant/.vagrant/machines/default/virtualbox/creator_uid
practiceVagrant/.vagrant/machines/default/virtualbox/id
practiceVagrant/.vagrant/machines/default/virtualbox/index_uuid
practiceVagrant/.vagrant/machines/default/virtualbox/private_key
practiceVagrant/.vagrant/machines/default/virtualbox/synced_folders
practiceVagrant/.vagrant/machines/default/virtualbox/vagrant_cwd
practiceVagrant/.vagrant/rgloader/loader.rb
practiceVagrant/.vagrant/machines/ansible-server/virtualbox/action_provision
practiceVagrant/.vagrant/machines/ansible-server/virtualbox/action_set_name
practiceVagrant/.vagrant/machines/ansible-server/virtualbox/box_meta
practiceVagrant/.vagrant/machines/ansible-server/virtualbox/creator_uid
practiceVagrant/.vagrant/machines/ansible-server/virtualbox/id
practiceVagrant/.vagrant/machines/ansible-server/virtualbox/index_uuid
practiceVagrant/.vagrant/machines/ansible-server/virtualbox/private_key
practiceVagrant/.vagrant/machines/ansible-server/virtualbox/synced_folders
practiceVagrant/.vagrant/machines/ansible-server/virtualbox/vagrant_cwd
practiceVagrant/.vagrant/
practiceVagrant/data/*